* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --clr-primary: rgb(18, 38, 53);
    --clr-secondary: rgb(207, 217, 222);
    --clr-accent: rgb(76, 134, 183);
}

html, body {
    height: 100vh;
    height: 100dvh; /* for mobile */
    overflow: hidden;

    background: var(--clr-secondary);

    font-family: 
        "微軟正黑體",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif 
        !important;  
}

body {    
    isolation: isolate;
    padding: 1rem;
    display: grid;
    place-items: center;
}

img.background {
    position: absolute;
    z-index: -1;
    width: 150vh;
    translate: 10% 25%;
    filter: blur(.5rem);
    opacity: .25;
}

.logo-container {
    --height: 2rem;
    position: fixed;
    inset: 0;
    padding: 1rem;
    display: flex;
    gap: .25rem;
}

h1 {
    font-size: var(--height);
    line-height: var(--height);
    color: var(--clr-accent);
    margin-bottom: 3rem;
    letter-spacing: 0.1rem;
    text-align: center;
    font-family: "Story Script";
}

img.logo {
    width: var(--height);
    height: var(--height);
}

.grid {
    width: 100%;
    margin: auto;
    padding: 1rem;

    display: grid;
    grid-template-columns: auto 1fr;
    /* align-items: center; */
    gap: 1rem;
    
    direction: rtl;
    > * {
        direction: ltr;
    }
}

@media ( width < 680px ) {
    .grid {
        grid-template-columns: auto;
    }
}

img.main {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 .25rem 1rem var(--clr-primary);
}

.stats {
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    color: var(--clr-secondary);
    background: var(--clr-accent);
}

h2 {
    font-size: 4rem;
    color: var(--clr-secondary);
    & + span {
        height: fit-content;
    }
}

.inline {
    display: flex;
    gap: .25rem;
    align-items: baseline;
    justify-content: center;
}